.aside__container{
    &.aside__container{
        &--content{
            width: $width;
            height: auto;
            margin-top: 50px;
            align-items: center;
        &--lists-skills{
            font-size: 20px;
            line-height: 1.5;
            width: $width;
            text-align: center;
            margin: auto;
            margin-top: 60px;
            margin-bottom: 30px;
            }
        &-header-skills{
            font-size: 30px;
            font-family: 'Bree Serif', serif;
            }
        }
    }
    
}



