$pattern:"aside__container";

.#{$pattern} {
    &--lists-skills{
        font-size: 20px;
        line-height: 1.5;
        width: $width;
        text-align: center;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 30px;
        }
    .#{$pattern} {
        &--content {
            width: $width;
            height: auto;
            margin-top: 50px;
            align-items: center;
        }
     
    }
    
}



