$pattern: "slick-slide";

.slider-image {
  background-position: center;
  background-size: cover;
  &--one {
    background-image: url("../img/powercoders1.jpg");
    background-position: center;
  }
  &--two {
    background-image: url("../img/powercoders2.jpg");
    background-size: cover;
    background-position: bottom;
  }
  &--three {
    background-image: url("../img/powercoders3.jpg");
    background-size: cover;
  }
  &--four {
    background-image: url("../img/powercoders4.jpg");
    background-size: cover;
  }
  &--five {
    background-image: url("../img/powercoders5.jpg");
    background-size: cover;
  }
}

.slick-prev {
  z-index: 1;
  left: 35px !important;
}
.slick-next {
  z-index: 1;
  right: 35px !important;
}
.#{$pattern} {
  &.slider-image {
    height: 50vw;
  }
}
