$pattern: "content";

.#{$pattern} {
  &__container-text {
    margin: 20px;
  }
  &__introduction--short {
    width: 100%;
    height: auto;
    margin-top: 50px;
    text-align: center;
  }
  &__skills--lists {
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__description {
    &--aboutme {
      margin: 20px;
      width: 84%;
      height: $height;
    }
  }
}

@include xlarge-up {
  .#{$pattern} {
    &__introduction--short {
      width: 50%;
      text-align: center;
      margin: auto;
      margin-top: 60px;
      margin-bottom: 30px;
    }
    &__container {
      display: flex;
      flex-wrap: nowrap;
      padding-left: unset;
      padding-top: 60px;
      min-height: 0px;


      &--project {
        width: 100%;
        min-height: 0px;
        display: flex;
        flex-wrap: nowrap;
        padding-left: unset;
      }
    }
    &__description {
        &--aboutme {
          width: 84%;
          height: auto;
          margin-left: unset;
          margin-top: 80px;
        }
      }
  }
}
