$pattern: "activities";

.#{$pattern} {
  &--lists {
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    text-align: center;
  }
}

@include xlarge-up {
  .#{$pattern} {
    &--lists {
      font-size: 20px;
      line-height: 1.5;
      width: 100%;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }
  }
}
