$pattern: "paragraph";

.#{$pattern} {
    &__content {
        &--home,
        &--aboutme{
            margin-bottom: 14px;
            font-size: 19px;
            line-height: 1.2;
        }
    }
        &__link {
            color: $color;
        }
    }
