$pattern: "paragraph";

.#{$pattern} {
  &__link {
    color: $color;
  }
  &__content {
    &--home,
    &--aboutme {
      margin-bottom: 14px;
      font-size: 19px;
      line-height: 1.2;
    }
    & .about-me {
      color: $color;
    }
  }
}
