.navigation {
  &__item-container {
    padding-inline-start: 0;
    margin: 0;
    display: none;
    
    & .navigation {
      &__menu-item {
        display: block;
        text-align: left;
        padding: 0px 15px 10px 15px;

        & a {
          display: inline;
          text-decoration: none;
          margin-right: 0px;
          font-size: 18px;
          color: black;
          font-weight: bold;
        }
      }
    }
  }
  &__hamburger-menu {
    position: relative;
    min-height: 83px;
    background-color: $background-color;
  }
}
